<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:hdp="http://www.springframework.org/schema/hadoop"
   xmlns:beans="http://www.springframework.org/schema/beans"
   xmlns:util="http://www.springframework.org/schema/util"
   xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true" >

	<hdp:configuration resources="classpath:cluster/conf/hadoop/core-site.xml,
								  classpath:cluster/conf/hadoop/hdfs-site.xml,
								  classpath:cluster/conf/hadoop/mapred-site.xml,
								  classpath:cluster/conf/hadoop/yarn-site.xml,
								  classpath:cluster/conf/hbase/hbase-site.xml" />
	<hdp:hbase-configuration configuration-ref="hadoopConfiguration" />
	
	<!-- 配置HbaseTemplate -->
	<bean id="htemplate" class="org.springframework.data.hadoop.hbase.HbaseTemplate">
		<property name="configuration" ref="hbaseConfiguration"></property>
		<property name="encoding" value="UTF-8"></property>
	</bean>
	
 </beans>