<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"  
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"  
	xsi:schemaLocation="
       	http://www.springframework.org/schema/beans     
		http://www.springframework.org/schema/beans/spring-beans.xsd    
       	http://www.springframework.org/schema/context     
       	http://www.springframework.org/schema/context/spring-context.xsd    
       	http://www.springframework.org/schema/aop     
       	http://www.springframework.org/schema/aop/spring-aop.xsd    
       	http://www.springframework.org/schema/tx     
       	http://www.springframework.org/schema/tx/spring-tx.xsd"
       	default-lazy-init="false">  
  
  		<description>activiti配置</description>
  
        <!-- 加载activiti引擎 -->  
        <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">  
          <property name="processEngineConfiguration" ref="processEngineConfiguration" />  
        </bean>
          
        <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">  
          <property name="dataSource" ref="mysqlDataSource" />  
          <property name="transactionManager" ref="transactionManager" />  
          <property name="databaseSchemaUpdate" value="true" />  
          <property name="jobExecutorActivate" value="false" />  
          <property name="history" value="full"/>
          <property name="processDefinitionCacheLimit" value="10"/>
          <!-- 生成流程图的字体 -->
          <property name="activityFontName" value="宋体"/>
          <property name="labelFontName" value="宋体"/>
          <!-- 自动部署 -->
          <property name="deploymentResources">
            <list>
                <value>classpath*:/activiti/design/*</value>
            </list>
          </property>
          
          <property name="customSessionFactories">  
	        <list>  
	            <bean class="com.materialize.jee.platform.activiti.CustomUserEntityManagerFactory">
	            	<property name="userEntityManager">  
                    	<bean class="com.materialize.jee.platform.activiti.CustomUserEntityManager"></bean>  
                	</property> 
	            </bean>  
	            <bean class="com.materialize.jee.platform.activiti.CustomGroupEntityManagerFactory">
	            	<property name="groupEntityManager">  
                    	<bean class="com.materialize.jee.platform.activiti.CustomGroupEntityManager"></bean>  
                	</property>  
	            </bean>  
	        </list>  
	      </property> 
        </bean>  
      
        <!-- activiti的各种服务接口 -->  
        <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />  
        <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" /> 
        <bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService"/> 
        <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />  
        <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />  
        <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />  
      
</beans>  